/*---------------
     GRID
----------------*/
#memory-game{
    width: 240px;
    margin: 0 auto;
}
#memory-game:after{
    content: "";
    height: 0px;
    width: 0px;
    clear: both;
    display: block;
}


#memory-game .tile{
    float: left;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 33px;
    background: #ccc;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}

#memory-game .tile.active{
    background: #999;
}

#memory-game .tile.matched{
    visibility: hidden;
}